* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  
.theme-light {
    --color: #F1F1F1;
    --font-color: #000000;
  }
  
.theme-dark {
    --color: #292C35;
    --font-color: #ffffff;
  }
  
  :root {
      --label: #111;
  }
  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background: var(--color);
    color: var(--font-color);
    transition: background-color .2s linear;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container span {
    margin-top: 1rem;
  }
  
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox:checked + .label .Caixa {
  
    transform: translateX(3rem);
 }
  
.label {
    background-color: #111;
    width: 5rem;
    height: 2rem;
    border-radius: .8rem;
    padding: .3rem;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
    transform: scale(1.5);
    cursor: pointer;
}
  
.Caixa {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    height: 1.7rem;
    width: 1.7rem;
  
    top: 2px;
    left: 2px;
  
    transition: transform .2s linear;
}